h1 {
    font-family: "Consolas";
    font-size: 50px;
}

h1 {
  font-family: "Consolas";
  color:#007FFF;

}

p {
  font-family: "Consolas";
  color:#007FFF;
font-size: 20px;

}

body {
	   background-color: #FFFF66;
	  font-family: "Consolas";
  color:#007FFF;
font-size: 20px;

}
}

img {

background-color: purple;

}